<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="My Health Manager"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthManagerApp"
        tools:targetApi="31">
        <activity
            android:name=".AddVitalsPage"
            android:exported="false" />
        <activity
            android:name=".UpdateVitalsPage"
            android:exported="false" />
        <activity
            android:name=".SingleViewVitalsPage"
            android:exported="false" />
        <activity
            android:name=".SingleViewHealthHistory"
            android:exported="false" />
        <activity
            android:name=".UpdateHealthHistoryPage"
            android:exported="false" />
        <activity
            android:name=".AddHealthHistoryPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotesPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VitalsPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HealthHistoryPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MedicationsPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>